/*
Global Items
*/
 h1, h2, h3, h4, h5, h6, p, label, .btn, a, form, div{
	font-family:Roboto;
}
/*
Nav Bar
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24);
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*
Slideshow
*/
.mySlides {
    display:none;
    width:100%;
}
.slideshow{
    padding: 10%;
    height: 250px;
    max-width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


/*
Info in HomePage
*/
.maininfo{
    float: left;
    width: 50%;
    text-align: center; 
    vertical-align: center;   
    height: 200px;
    display:flex;
    justify-content:center;
    align-items:center; 
}

.icon{
    width: 200px;
    margin: auto 0;
}
.qr{
    width: 100px;
}
.infoHome{
    height: 200px;
}


/*
Info Formulario
*/
.imagenDinamica{
    width: 60%; 
    padding-top: 10%;
    margin: auto 0;
}
.infoEmpresa{
    float: left;
    width: 30%;
    text-align: center; 
    vertical-align: center;   
    height: 500px;
    justify-content:center;
    align-items:center; 
}

.formulario{
    float: left;
    width: 70%;
    text-align: center; 
    vertical-align: center;   
    height: 500px;
    display:flex;
    justify-content:center;
    align-items:center; 
}

.mainFormulario{
    height: 500px;
    width: 100%;
}
form{
    text-align:left;
    width :50.5%;
}
label{
    font-weight: bold;
}
input[type="text"], textarea, input[type="submit"]{ 
    font-family:Roboto;
    font-size: 14px;
}
input[type="submit"]{
    float:right;
    background-color: white;
    border: 1px solid #333333;
}

/*
Footer
*/
.footer{
    text-align: right;
    background: #333;
    color: white;
    height: 40px;
}

/*
Buscador
*/
.busqueda{
    display:absolute;
    height: 600px;
}
.ingresoBusqueda{
    float: left;
    width: 28%;  

}
.formBusqueda{
    margin-top:10%;
    margin-left: 10%;
    display: block;
}
.inputSearch {
    
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 12px 20px 12px 40px;
}

inputSearch[type=text]:focus {
    width: 100%;
}
.opcionesAvanzadas{
    margin-top:10%;
    margin-left: 10%;
    display: block;
}


.resultados{
    float: left;
    width: 70%;  
    border-left: 2px solid black;
    height: 500px;
    overflow: scroll;
}

/*
Resultados
*/
.resultado{
    height: 200px;
    display: relative;
}

.imgResultado{
    float: left;
    height: 200px;
    width: 30%;
}
.descripcionResultado{
    float: left;
    width: 50%
}
.btnVerMas{
    margin-top: 100px;
    float:left;
    width: 20%;
    border: 1;
    border-color: black;
    padding: 10px;
    background: white;
    
}





