/*
Global Items
*/
 h1, h2, h3, h4, h5, h6, p, label, .btn, a, form, div{
	font-family:Roboto;
}
/*
Nav Bar
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24);
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*
Slideshow
*/
.mySlides {
    display:none;
    width:100%;
}
.slideshow{
    padding: 10%;
    height: 250px;
    max-width:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


/*
Info in HomePage
*/
.maininfo{
    float: left;
    width: 50%;
    text-align: center; 
    vertical-align: center;   
    height: 200px;
    display:flex;
    justify-content:center;
    align-items:center; 
}

.icon{
    width: 200px;
    margin: auto 0;
}
.qr{
    width: 100px;
}
.infoHome{
    height: 200px;
}

/*
Footer
*/
.footer{
    text-align: right;
    background: #333;
    color: white;
    height: 40px;
}
