
body{
	background: rgba(87,158,153,0.32);
	width: 100%;
	height: 100%;
}


form{
	width: 241px;
	position: fixed; 
	top: 40%;
	left: 40%;
	color:#333333;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    float: left;
    border: 2px solid #333333;

	font-size:16px;
	text-align:justify;
	padding: 3px;
	background: rgba(255,255,255,1);
	color: #333333;
	margin-top: 8px;
	font-weight:bold;

}

input[type="text"] { 
	border: 2px solid #333333;
}